<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <link rel="shortcut icon" href="../static/img/logo.png" type="image/x-icon" sizes="180"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link href="../static/css/registration.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>

<body>
<div class="container">
    <header class="header">
        <nav class="header__content">
            <div class="logo">
                <img src="../static/img/logo.png" alt="логотип">
            </div>
            <div class="header__text">
                <div>IritTube</div>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main__content">
            <div class="regist_form">
                <form action="#" method="post">
                    <div class="regist_name">
                    <h1>Создать аккаунт</h1>
                    <div class="flash">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        {% endwith %}
                    </div> 
                    <div class="pole" style="margin-top: 15px;">

            <div class="input-field" >
                    <label for="email">Почта</label><br>
                    <input type="email" placeholder="email@email.com" name="email" id="email" required>
                </div>
                <div class="input-field">
                    <label for="username">Имя пользователя</label><br>
                    <input name="username" id="username" type="text" placeholder="Введите имя пользователя" required>
                </div>

                <div class="input-field">
                    <label for="login">Логин</label><br>
                    <input name="login" id="login" type="text" placeholder="Придумайте логин" required>
                </div>

                <div class="input-field">
                    <label for="password">Придумайте пароль</label><br>
                    <input type="password" placeholder="Придумайте пароль" name="password" id="password" required>
                </div>
                <p class="discript">Если у вас уже есть аккаунт</p>
                <div>
                    <a class="enter" href="sign-in">войдите в него</a>
                </div>
                <div class="create_akk">
                    <button class="create_akk_butom" type="submit" style="border-radius: 20px; width: 300px; height: 65px; font-style: normal;font-weight: 200;font-size: 25px;
                    border: 2px solid #0047FF;color: #000000;font-family: 'Montserrat Alternates', sans-serif;cursor: pointer;">создать</button>
                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
<script src="../static/js/login-page.js"></script>
</body>
</html>
